<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    overflow: hidden;
}

.toast{
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 6px solid #5bf440;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active{
    transform: translateX(0%);
}

.toast .toast-content{
    display: flex;
    align-items: center;
}

.toast-content .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #5bf440;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text{
    font-size: 20px;
    font-weight: 400;;
    color: #666666;
}

.message .text.text-1{
    font-weight: 600;
    color: #333;
}

.toast .close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .close:hover{
    opacity: 1;
}

.toast .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.toast .progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #5bf440;
}

.progress.active:before{
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}

button{
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: #4070f4;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #0e4bf1;
}

.toast.active ~ button{
    pointer-events: none;
}
#div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
table {
  border-collapse: collapse;
  width: 100%;
}

th {
    font-size: 12px;
  text-align: left;
  padding: 8px;
}
td {
    font-size: 11px;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.select {
    padding: 8px 12px;
    font-size: 11px;
    color: #333333;
    background-color: #e0dbf2;
    border: 1px solid #7d2aff;
    cursor: pointer;
    border-radius: 10px;
}
.select:focus,
.select:hover {
    outline: none;
    border: 1px solid #7d2aff;
}
.select option { 
    background: #e0dbf2;
}
.select:valid { 
    background: #daf4eb; 
    border: 1px solid #a8c3ba;
}
#block {
    margin-top: 6%;
    margin-left: 75%;
}
#h1 {
    text-align: center;
    color: #7d2aff;
}
    </style>
    </head>
    <body>
        <div class="toast">
            <div class="toast-content">
                <i class="fas fa-solid fa-check check"></i>
    
                <div class="message">
                    <span class="text text-1">Success</span>
                    <span class="text text-2">Your changes has been saved</span>
                </div>
            </div>
            <i class="fa-solid fa-xmark close"></i>
    
            <div class="progress"></div>
        </div> 
        <div id="#div">
            <form action="timetable" method="POST">
                {% csrf_token %} 
            <h1 id="h1"> {{sem}} :  Time Table </h1> 
            <table class="table">
                <th scope="col">Days</th>
                <th scope="col" style="text-align: center;">09 - 10</th>
                <th scope="col" style="text-align: center;">10 - 11</th>
                <th scope="col" style="text-align: center;">11 - 12</th>
                <th scope="col" style="text-align: center;">Lunch break</th>
                <th scope="col" style="text-align: center;">01 - 02</th>
                <th scope="col" style="text-align: center;">02 - 03</th>
                <th scope="col" style="text-align: center;">03 - 04</th>
                <th scope="col" style="text-align: center;">04 - 05</th>
                <tr>
                    <th scope="row">Monday</th>
                    <td>
                        <select name="m1" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="m2" class="select" required> 
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td><td>
                        <select name="m3" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td rowspan="6"><b>LUNCH BREAK</b></td>
                    <td>
                        <select name="m4" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="m5" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="m6" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="m7" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Tuesday</th> 
                    <td>
                        <select name="tu1" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="tu2" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td><td>
                        <select name="tu3" class="select" required> 
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="tu4" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="tu5" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="tu6" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="tu7" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Wednesday</th>
                    <td>
                        <select name="w1" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="w2" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td><td>
                        <select name="w3" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="w4" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="w5" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="w6" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="w7" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Thrusday</th>
                    <td>
                        <select name="th1" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="th2" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td><td>
                        <select name="th3" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="th4" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="th5" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="th6" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="th7" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Friday</th>
                    <td>
                        <select name="f1" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="f2" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td><td>
                        <select name="f3" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="f4" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="f5" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="f6" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="f7" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Saturday</th> 
                    <td>
                        <select name="s1" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="s2" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td><td>
                        <select name="s3" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="s4" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="s5" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="s6" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="s7" class="select" required>
                            <option disabled=" true" selected value="">Select period</option>
                            {% for x in sub %}
                            <option> {{x}} </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
            <div id="block">
                <button type="button" id="btn">Add Timetable</button>
                <button type="submit">Submit</button> 
            </div>
            </form>
        </div>
        
        
        
        

        <script>
            const button = document.querySelector("#btn"),
      toast = document.querySelector(".toast")
      closeIcon = document.querySelector(".close"),
      progress = document.querySelector(".progress");

      let timer1, timer2;

      button.addEventListener("click", () => {
        toast.classList.add("active");
        progress.classList.add("active");

        timer1 = setTimeout(() => {
            toast.classList.remove("active");
        }, 5000); //1s = 1000 milliseconds

        timer2 = setTimeout(() => {
          progress.classList.remove("active");
        }, 5300);
      });
      
      closeIcon.addEventListener("click", () => {
        toast.classList.remove("active");
        
        setTimeout(() => {
          progress.classList.remove("active");
        }, 300);

        clearTimeout(timer1);
        clearTimeout(timer2);
      });
        </script>

    </body>
</html>