{% extends 'currsem.html' %} 

{% block content %}
<div style="padding: 100px 200px;">
  <table> 
      <th>Subject</th>
      <th>Attended periods</th>
      <th>Total periods </th>
      <th>Percentages </th>
      {% for k,v in show.items %}
      <tr> 
        {% if k not in "total" %}
          <td> {{k}}</td>
          {% for k1,v1 in v.items %} 
              <td> {{v1}} </td> 
          {% endfor %}
        {% endif %} 
      </tr>
      {% endfor %}
      {% for k,v in show.items %}
      
        {% if k in "total"  %}
        <tr>
          <td> {{k}}</td>
          {% for k1,v1 in v.items %} 
              <td> {{v1}} </td> 
          {% endfor %}
        </tr>
        {% endif %} 
      
      {% endfor %} 

  </table>
</div>
{% endblock %}