{% extends 'currsem.html' %}

{% block content %}

<form action="update_timetable" method="post"> 
<div style="padding: 30px 200px 100px 200px;text-align: center;"> 
    <h1 style="display: inline-block;">  {{sem}} : Timetable <button type="submit" id="edit_time_table"><i class='bx bxs-pencil'></i></button> </h1> 
     
      
  <table >
    <th style="font-size: 18px;color: #0d75ec;">Days</th> 
    <th style="font-size: 18px;color: #0d75ec;">09 - 10  </th>
    <th style="font-size: 18px;color: #0d75ec;">10 - 11  </th>
    <th style="font-size: 18px;color: #0d75ec;">11 - 12  </th>
    <th style="font-size: 18px;color: #0d75ec;">01 - 02  </th>
    <th style="font-size: 18px;color: #0d75ec;">02 - 03  </th>
    <th style="font-size: 18px;color: #0d75ec;">03 - 04  </th>
    <th style="font-size: 18px;color: #0d75ec;">04 - 05  </th>
      
  
      {% for k,v in show.items %}
      <tr>
          <th> {{k}}</th>
          {% for x in v %} 
              <td style="font-size: 16px;"> {{x}} </td> 
          {% endfor %}
      </tr>
      {% endfor %}
  </table>
</div>
</form>
{% endblock %}