{% extends 'currsem.html' %}

{% block content %}

<div style="padding: 100px 200px;">
    <h1 style="text-align: center;">  {{sem}} : Timetable </h1>
  <table >
    <th>Days</th>
    <th>09 - 10</th>
    <th>10 - 11</th>
    <th>11 - 12</th>
    <th>01 - 02</th>
    <th>02 - 03</th>
    <th>03 - 04</th>
    <th>04 - 05</th>
      
  
      {% for k,v in show.items %}
      <tr>
          <th> {{k}}</th>
          {% for x in v %} 
              <td> {{x}} </td> 
          {% endfor %}
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}