{% extends 'currsem.html' %}

{% block content %}

<form action="update_timetable" method="post"> 
<div style="padding: 100px 200px;text-align: center;"> 
    <h1 style="display: inline-block;">  {{sem}} : Timetable <button type="submit" id="edit_time_table"><i class='bx bxs-pencil'></i></button> </h1> 
     
      
  <table >
    <th>Days</th> 
    <th>09 - 10  </th>
    <th>10 - 11  </th>
    <th>11 - 12  </th>
    <th>01 - 02  </th>
    <th>02 - 03  </th>
    <th>03 - 04  </th>
    <th>04 - 05  </th>
      
  
      {% for k,v in show.items %}
      <tr>
          <th> {{k}}</th>
          {% for x in v %} 
              <td> {{x}} </td> 
          {% endfor %}
      </tr>
      {% endfor %}
  </table>
</div>
</form>
{% endblock %}